<br>
<br>
<!-- <div class="mt-5 mb-5"> -->
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h4>Últimas Noticas</h4>
			<ul class="timeline">
				<li ng-repeat="a in vm.noticias">
					<p  class="font-italic" style="color: #bd2130"><span><i class="fas fa-calendar-alt" style="font-size: 16px"></i>&nbsp;&nbsp;</span><span>{{a.fecha | date: 'dd/MM/yyyy'}}</span></p>
					<p class="h5 font-weight-bold">{{a.titulo}}</p>
					<div class="row content-new">
						<p class="text-right col-md-3" style="width: 200px;"><img src="imagenes/noticia/{{a.noticia}}" width="100%"></p>
						<p class="col-md-9">{{a.descripcion.substring(0,300)+"..."}}</p>
						<p class="col-md-12 text-right"><a ui-sref="Client.noticia({id:a.id})" class="button-read-more">Leer Más...</a></p>
					</div>
					
					<hr>
				</li>
			</ul>
		</div>
	</div>
<!-- </div> -->