
<!--Footer-->
<footer class="page-footer font-small  pt-4 mt-4" style="background-color: #bd2130">

    <div class="container text-center text-md-left">
        <div class="row my-4">

            <div class="col-md-2 col-lg-2" style="margin: auto;">
                <!-- <h5 class="text-uppercase mb-4 font-weight-bold">Consejo departamental de Madre de dios</h5> -->
                <img src="content/img/logo_cip.png" width="200px" >
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-2 col-lg-2 ml-auto">
                <h5 class="text-uppercase mb-4 font-weight-bold">Enlaces de Interés</h5>
                <ul class="list-unstyled">
                    <span>
                        <a href="#!">Consejo Directivo</a>
                    </span>
                    <span>
                        <a href="#!">Past Decanos</a>
                    </span>
                    <span>
                        <a href="#!">Estatuto Vigente</a>
                    </span>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-4 col-lg-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Contacto</h5>
                <p><i class="fa fa-phone mr-3"></i> (082) 574434</p>

                <p><i class="fa fa-location-arrow mr-3"></i>  Jr. Cajamarca 727 – Puerto Maldonado</p>
                <p><i class="fa fa-clock mr-3"></i>   Horario: L-V 8:00 a 1:00 y de 4:00 a 8:00pm</p>

                <p><i class="fa fa-envelope mr-3"></i> <a href="cip.madrededios@cip.org.pe" target="”_blank”"> cip.madrededios@cip.org.pe</a> </p>
                <!-- <p><i class="fab fa-facebook mr-3"></i> <a href="https://www.facebook.com/cipmdd" target="”_blank”"> https://www.facebook.com/cipmdd</a> </p> -->
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-4 col-lg-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Siganos en </h5>
                <div class="mt-2 d-flex flex-wrap mx-auto">
                    <!-- <a type="button" class="btn-floating btn-small btn-fb d-flex align-items-center" target="_blank" href="https://www.facebook.com/cipcn">
                        <i class="fab fa-facebook d-flex mx-auto h5 mt-2" ></i>
                    </a> -->
                    <a type="button" class="btn-floating btn-small btn-tw d-flex  align-items-center" target="_blank" href="https://twitter.com/CIP_CN">
                        <i class="fab fa-twitter d-flex mx-auto h5 mt-2"></i>
                    </a>
                    <a type="button" class="btn-floating btn-small btn-dribbble d-flex align-items-center" target="_blank" href="https://vimeo.com/cipcn">
                        <i class="fab fa-vimeo-v d-flex mx-auto h5 mt-2"></i>
                    </a>
                    <a type="button" class="btn-floating btn-small btn-gplus d-flex align-items-center" target="_blank" href="https://www.youtube.com/user/CIPCN" >
                        <i class="fab fa-youtube d-flex mx-auto h5 mt-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-3 text-center">
        COLEGIO DE INGENIEROS DE MADRE DE DIOS    </div>

</footer>
                 
   