<div class="row">
	<div class="col-md-12 small-box-shadow" >
        <rt-widget-header title="ESTATUTO DEL COLEGIO DE INGENIEROS DEL PERU" bg="background-head-orange"></rt-widget-header> 

		<embed src="http://www.cip.org.pe/publicaciones/normativos/estatuto_cip_2017_fecha_publicacion_04042018.pdf" type="application/pdf" width="100%" height="600px">   
	</div>	
</div>