<br>
<div class="row">
    <div class="col-md-8  small-box-shadow">
    <rt-widget-header title="Contacto" bg="background-head-orange"></rt-widget-header>  
        <form class="w3-container w3-card-4 pb-3">
          <label class="w3-text-green">Nombre Completo</label>
          <input class="w3-input w3-border" type="text">
          <label class="w3-text-green">Email</label>
          <input class="w3-input w3-border" type="email">
          <label class="w3-text-green">WEB site</label>
          <input class="w3-input w3-border" type="text">
          <label class="w3-text-green">Mensaje</label>
          <textarea class="w3-input w3-border" rows="5"></textarea>
          <button class="w3-btn w3-green">Enviar</button>
        </form>
    </div>
    <div class="col-md-4 small-box-shadow">
        <rt-widget-header title="Información de Contacto" bg="background-head-orange"></rt-widget-header>   
        <div class="row">
            <div class="col-md-12">
                <p><i class="fa fa-phone mr-3"></i> (082) 574434</p>

                <p><i class="fa fa-location-arrow mr-3"></i>  Jr. Cajamarca 727 – Puerto Maldonado</p>
                <p><i class="fa fa-clock mr-3"></i>   Horario: L-V 8:00 a 1:00 y de 4:00 a 8:00pm</p>

                <p><i class="fa fa-envelope mr-3"></i> <a href="cip.madrededios@cip.org.pe" target="”_blank”"> cip.madrededios@cip.org.pe</a> </p>
                <!-- <p><i class="fab fa-facebook mr-3"></i> <a href="https://www.facebook.com/cipmdd" target="”_blank”"> https://www.facebook.com/cipmdd</a> </p> -->


            </div>
        </div>
    </div>
</div>
