

<div id="left">
    <h1 class="orange-text mb-1">REQUISITOS PARA COLEGIATURA</h1>
    <ol class="lista-ol">
        <li>Kit Documentario para colegiación S/ 10.00 nuevos soles (Recabar kit documentario en Secretaria del CIP-CD-Puno). </li>
        <li>Hoja de inscripción por triplicado, llenado en la pagina web, <a href="https://cipvirtual.cip.org.pe/sicecolegiacionweb/altas/" target="”_blank”">(ingresar aqui).</a>. </li>

    </ol> 
    <h1 class="orange-text mb-1">Adjuntar al FUT:</h1>

    <ol class="lista-ol">
    	<li>Título original de Ingeniero otorgado a nombre de la Nación por una Universidad Peruana, debidamente autorizada.</li>
    	<li>Fotografía del Título reducido a tamaño 10 X 15 cm. (Ambos lados). Pegado en papel bond.</li>
    	<li>02 Fotocopias del título tamaño A4 (Legalizado por Notario).</li>
    	<li>01 Fotocopia del Bachiller tamaño A4 (Legalizado por Notario)</li>
    	<li>02 Fotografías de frente, tamaño pasaporte a colores y fondo blanco, y terno.</li>
    	<li>Copia Fotostática de D.N.I. (Legalizado por Notario).</li>
    	<li>Recibo original y copia, que acredite el pago en tesorería.</li>
    	<li>Por derecho de colegiatura por Tesis, la suma de S/. 1300.00 nuevos soles, si el título pertenece a otro departamento adicionar S/.200.00 nuevos soles.</li>
    	<li>Copia de Tesis en CD en Caja con Carátula y la TESIS EMPASTADA, DEBIDAMENTE FIRMADA por los jurados HÁBILES (solo en caso de titularse por modalidad de Tesis).</li>
    	<li>Copia Legalizada del Acta de Sustentación debidamente firmada por los jurados HÁBILES (ambas modalidades) legalizado por Notario.</li>
    	<li>Resolución Rectoral que ordena la expedición del título (Legalizado por Notario).</li>
    	<li>Copia Fotostática de su Certificado de Estudios Universitarios (Legalizado por Notario).</li>
        <li>Constancia de registro de grado de título emitido por la SUNEDU.</li>
    </ol> 
    <h1 class="orange-text mb-1">Adjuntar al FUT:</h1>
    <ol class="lista-ol">
    	<li>Pago adelantado de cinco cuotas sociales después de aprobado su incorporación al Consejo Nacional del CIP y antes de la juramentación.</li>
    	<li>Pago de S/. 150.00 por derecho de juramentación: Incluye Estatuto, Código deontológico, solapero, medalla, carnet de colegiado y otros.</li>
    	
    </ol> 

</div>
