<br>


<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li ng-repeat="a in vm.slider" data-target="#carousel-example-2" data-slide-to="$index" ng-class="{'active':$index==0}"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item" ng-repeat="a in vm.slider" ng-class="{'active':$index==0}">
        <img class="d-block w-100" style="height: 400px;" src="imagenes/slide/{{a.slide}}" alt="{{a.slide}}">
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span style="font-size: 34px;"><i class="fas fa-angle-left"></i></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span style="font-size: 36px;"><i class="fas fa-angle-right"></i></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<br>
<div class="row">
	<div class="col-md-3 small-box-shadow">
        <rt-widget-header title="Comunicados" bg="background-head-orange"></rt-widget-header> 
		<ol class="lista-ol-img">
            <li class="pointer" ng-repeat="a in vm.informes" ng-click="vm.showInfome(a.id)"  data-toggle="modal" data-target="#modal" style="border-bottom: 1px dashed #9e9e9e;">
                <img src="content/img/logo_cip.png" style="width: 47px; height: 47px;">
                <span class="font-italic float-right"><small>{{a.fecha_registro | date:'dd/MM/yy'}}</small></span><br>
                <span class="font-weight-bold">{{a.header}}</span><br>
                <span class="font-italic">{{a.fecha}}</span>    
            </li>
		</ol>
	</div>
	<div class="col-md-6 small-box-shadow">
        <rt-widget-header title="Noticias" bg="background-head-orange"></rt-widget-header> 
        <div class="row">
        	<div class="col-md-6 mb-2" ng-repeat="a in vm.noticias">
                <div class="card">
                    <div class="view overlay">
                        <img src="imagenes/noticia/{{a.noticia}}" class="img-fluid w-100" style="height: 150px;" alt="sample">
                    </div>
                    <a ui-sref="Client.noticia({id:a.id})" class="btn-floating btn-action ml-auto mr-4 p-0 warning-color-dark lighten-3 d-flex align-items-center">
                        <i class="fas fa-angle-right d-flex mx-auto text-white" style="font-size: 28px;"></i>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" style="margin-bottom: -8px;">
                        	{{a.titulo}}
                        </h5>
                        <hr>
						<div class="date">
                            <span><i class="fas fa-calendar-alt" style="font-size: 14px"></i>&nbsp;&nbsp;&nbsp;</span>
                            <span class="font-italic ">{{a.fecha | date: 'dd/MM/yyyy'}}</span>
                        </div>

                        <p class="font-small grey-dark-text mb-0 pt-0" style="height: 150px; overflow: hidden;">{{a.descripcion}}</p>
                        <hr>
                        <!-- <ul class="list-footer font-italic font-small" style="height: 50px; overflow: auto;">
							<li><i class="fas fa-check"></i>Aprobado Por:JDCCPP</li> 
							<li><i class="fas fa-check"></i>web: jdccpp.com</li>
						</ul> -->
                    </div>
                </div>  

            </div>
            <a ui-sref="Client.noticias" class="button-see-all">Ver Todas las noticias</a>
        </div>

	</div>
	<div class="col-md-3">
		<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel"  style="height: 500px;">
			    <ol class="carousel-indicators">
			        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
			        <li data-target="#carousel-example-2" data-slide-to="1"></li>
			    </ol>
			    <div class="carousel-inner z-depth-1-half" role="listbox" style="height: 100%;">
			        <div class="carousel-item active">
			            <div class="view">
			                <img class="d-block w-100" src="content/img/Afiche07Abril.jpg" style="height: 500px;" alt="First slide">
			            </div>
			        </div>
			        <div class="carousel-item">
			            <div class="view">
			                <img class="d-block w-100" src="content/img/seminarios_electrica_Mesa-de-trabajo1.jpg" style="height: 500px;" alt="Second slide">
			            </div>
			        </div>
			    </div>
			    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
			        <span style="font-size: 26px;"><i class="fas fa-angle-left"></i></span>
			        <span class="sr-only">Previous</span>
			    </a>
			    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
			        <span style="font-size: 26px;"><i class="fas fa-angle-right"></i></span>
			        <span class="sr-only">Next</span>
			    </a>
			</div> 
<!-- <div class="fb-page" data-href="https://www.facebook.com/ccp.org.pe/" data-tabs="timeline" data-width="300px" data-height="500px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ccp.org.pe/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ccp.org.pe/">Colegio de Contadores Públicos de Madre de Dios</a></blockquote></div>
	</div> -->
    </div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="background: #005580;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class=" text-white">&times;</span>
        </button>
        <center><img src="content/img/logo_cip.png" style="width: 150px; height: 150px;"></center><br>
        <center><h2 class="font-weight-bold text-white">{{vm.informe.header}}</h2></center><br>
        <hr>
        <center><h6 class="font-weight-bold" style="color: yellow">{{vm.informe.titulo}}</h6></center><br>
        <center><span class="font-italic text-white">{{vm.informe.descripcion}}</span> </center>
        <div ng-if="vm.informe.nombre_archivo">
            <button type="button" class="btn btn-outline-default waves-effect"><a href="archivos/informe/{{vm.informe.informe}}" target="_blanck" class=" text-white">{{vm.informe.nombre_archivo}}</a></button>
        </div>
        
      </div>
    </div>
  </div>
</div>
                

<style type="text/css">
	.carousel-control-prev span{
		color: white;
		padding-left: 12%;
		padding-right: 12%;
		background: rgba(0,0,0,0.5); 
	}
	.carousel-control-next span{
		color: white;
		padding-left: 12%;
		padding-right: 12%;
		background: rgba(0,0,0,0.5); 
	}
	.carousel-control-next span:hover, .carousel-control-prev span:hover{
		border: 1px solid white;
	}
</style>
<style type="text/css">

    .list-footer{
    	list-style: none;
    }

    .list-footer svg{
    	color: #FF8800;
    	padding-right: 5px;
    	font-size: 20px;
    }
    .date{
    	font-size: 11px;
    	margin-bottom: 5px;
    	display: flex;
    	text-align: right;

    }
    .pointer{
        cursor: pointer;
    }
</style>