<div class="row">
	<div class="col-md-12 small-box-shadow" >
        <rt-widget-header title="HIMNO DEL COLEGIO DE INGENIEROS DEL PERU" bg="background-head-orange" ></rt-widget-header> 			
		<div class="font-italic text-center" style="font-size: 13px;">
			HIMNO DEL COLEGIO DE INGENIEROS DEL PERÚ <br>
		</div>
		<div class="card-title pt-2 text-center text-uppercase"" style="font-size:13px;padding: 0">
			<br>
			CORO<br>
			<br>
			SOMOS EL COLEGIO DE INGENIEROS <br>	 
			SOMOS CONSTRUCTORES DEL PERÚ <br> 
			TRABAJANDO JUNTOS LOGRAREMOS (bis) <br>
			DESARROLLO Y PAZ EN EL PERÚ <br>
			<br>
			ESTROFAS <br>
			<br>
			LOS DESIERTOS SIEMPRE CULTIVAREMOS, <br>
			CONVERTIREMOS AGUA EN VIVA LUZ, <br>
			SIN CESAR, LOS ANDES TRASPASAREMOS, <br>
			DANDO REAL SUSTENTO A MULTITUD. <br>
			VIDA DE LOS PUEBLOS MEJORAMOS <br>
			Y EL FUTURO DE LA JUVENTUD.	 <br>	
			<br>
			SOMOS EL COLEGIO... (coro) <br>
			<br>
			NUEVA CIENCIA Y TECNICA APLICAMOS <br>
			CON PRUDENCIA Y MUCHA RECTITUD, <br>
			CON CUIDADO AL MAR COSECHAMOS, <br>
			CONSERVAMOS PURO EL AIRE AZUL <br>
			Y PERUANA SELVA DISFRUTAMOS <br>
			SIN DAÑAR SU VIDA EN PLENITUD <br>
			<br>
			SOMOS EL COLEGIO...(coro) <br>
			<br>

		</div>    
	</div>	
</div>
