<!-- {{vm.noticia.descripcion}} -->
<br>
<br>
 <div class="well"> 
        <div class="row">
             <div class="col-md-12">
                 <div class="row hidden-md hidden-lg">
                 	<h1 class="text-center col-md-10" >{{vm.noticia.titulo}}</h1></div>
                     
                 <div class="pull-left col-md-4 col-xs-12 thumb-contenido" data-toggle="modal" data-target="#exampleModal"><img class="center-block img-responsive" src="imagenes/noticia/{{vm.noticia.noticia}}" /></div>
                 <div class="">
                     <!-- <h1  class="hidden-xs hidden-sm">{{vm.noticia.titulo}}</h1> -->
                     <hr>
                     <small>{{vm.noticia.fecha | date:'EEEE, dd MMM yyyy'}}</small><br>
                     <!-- <small><strong>Author</strong></small> -->
                     <hr>
                     <p class="text-justify">{{vm.noticia.descripcion}}</p></div>
             </div>
        </div>
    </div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{vm.noticia.titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="center-block img-responsive" src="imagenes/noticia/{{vm.noticia.noticia}}" />
      </div>
      
    </div>
  </div>
</div>